.image-upload-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.image-input {
  display: none;
}

.select-btn {
  background-color: var(--accent-01);
}

.upload-btn {
  background-color: var(--accent-02);
}
