/* You can add global styles to this file, and also import other style files */

:root {
  --text: #eaeff7;
  --text-dark: #111111;
  --background: #090b11;
  --primary: #5886ea;
  --secondary: #71bde2;
  --accent: #ee1c54;
}

@font-face {
  font-family: "Inter";
  src: url("app/public/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
}

html {
  font-family: Inter;
  background-color: var(--background);
  color: var(--text);
}

body,
div {
  margin: 0;
  padding: 0;
}

button,
.button {
  border: none;
  border-radius: 0.5em;
  padding: 0.5em 1em;
}

.button-primary {
  background-color: var(--primary);
}

.button-secondary {
  background-color: var(--secondary);
}

.button-accent {
  background-color: var(--accent);
}

.sidebarNextToContent {
  display: flex;
  justify-content: start;
}
