<div class="sidebarNextToContent">
  <app-sidebar />

  <main class="mainContent">
    <h1>Welcome Back User</h1>

    <h2 class="sectionTitle">Your Galleries</h2>
    <div class="galleryList">
      <div class="galleryCard" routerLink="/gallery/1">
        <img class="galleryThumbnail">
        <p class="galleryTitle">Shooting 1</p>
      </div>

      <div class="galleryCard" routerLink="/gallery/2">
        <img class="galleryThumbnail">
        <p class="galleryTitle">Shooting 2</p>
      </div>

      <div class="galleryCard" routerLink="/gallery/3">
        <img class="galleryThumbnail">
        <p class="galleryTitle">Shooting 3</p>
      </div>

      <div class="galleryCard" routerLink="/gallery/4">
        <img class="galleryThumbnail">
        <p class="galleryTitle">Shooting 4</p>
      </div>

      <div routerLink="/image-upload" class="galleryCard">
        <img class="galleryThumbnail">
        <p class="galleryTitle">Add new Shooting</p>
      </div>
    </div>
  </main>
</div>
