<div class="landing-page-component">
  <div class="hero">
    <div class="heroCol">
      <h1 class="title">Time For Print</h1>
      <p class="heroText">Time For Print enables Photographers and Models to collaborate to plan, execute and exchange about shootings.</p>
      <p class="heroText">Upload your images, share them, create your portfolio and plan the next ones.</p>
      <p class="heroText">All on a Free and Open Source Platform!</p>
      <button class="heroButton button-primary" routerLink="/register">Get Started</button>
    </div>
    <div class="heroCol">
      <img class="heroImage" src="/images/heroImage-01.jpg" alt="Photo by ANTONI SHKRABA production: https://www.pexels.com/photo/women-posing-at-the-camera-8041360/">
    </div>
  </div>

  <div class="featureSection">
    <h2 class="sectionHeader">Features</h2>
    <div class="featureList">
      <div class="featureCard">
        <h3>Organize Images in Galleries</h3>
      </div>
      <div class="featureCard">
        <h3>Models can Rate and Download shared Images</h3>
      </div>
      <div class="featureCard">
        <h3>Plan shootings and with our integrated calendar</h3>
      </div>
      <div class="featureCard">
        <h3>Build and share your portfolio</h3>
      </div>
      <div class="featureCard">
        <h3>It's all OpenSource and Free</h3>
      </div>
    </div>
  </div>
</div>
