<div class="galleryContainer">
  <button class="button button-primary backButton" routerLink="/home">Back</button>
  <h1>Shooting {{ this.shootingId }}</h1>
  <h3>Some Description for the Shooting</h3>


  <div class="galleryImageContainer">
    <div class="imageElement">
      <img src="/images/heroImage-01.jpg">
      <p><strong>IMG-9320</strong></p>
      <p>2025-03-25</p>
      <span class="starRatingDisplay">⭐⭐⭐⭐⭐</span>
    </div>
    <div class="imageElement">
      <img src="/images/heroImage-01.jpg">
      <p><strong>IMG-9320</strong></p>
      <p>2025-03-25</p>
      <span class="starRatingDisplay">⭐⭐⭐⭐⭐</span>
    </div>
    <div class="imageElement">
      <img src="/images/heroImage-01.jpg">
      <p><strong>IMG-9320</strong></p>
      <p>2025-03-25</p>
      <span class="starRatingDisplay">⭐⭐⭐⭐⭐</span>
    </div>
  </div>
</div>
