.loginPageComponent {
  width: 100%;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  border-radius: 1em;
  border: 1px solid var(--primary);
  padding: 2em;
  width: 500px;
  text-align: center;
}
